:root {
  --main-bg-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --tertiary-text-color: #1f2937;
  --font-family: "Roboto", sans-serif;
}
html {
  font-family: var(--font-family);
  font-style: normal;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GLOBALS */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}

.container-big {
  max-width: 1120px;
  margin: 0 auto;
}
.button {
  background-color: var(--button-color);
  color: var(--main-text-color);
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
}

/* HEADER */
header {
  background-color: var(--main-bg-color);
  font-size: 18px;
  padding: 16px;
}

header a {
  color: var(--main-text-color);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 24px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 16px;
}
.nav-links a {
  color: var(--secondary-text-color);
}

/* HERO */

.bg-main {
  background-color: var(--main-bg-color);
}

.hero {
  display: flex;
  color: var(--main-text-color);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 42px 0 58px 0;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

figure {
  margin: 0;
}
.hero .left {
  flex: 1;
}

.hero .right {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* INFORMATION */

.information {
  padding: 58px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.information h2 {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}

.information .cards {
  display: flex;
  gap: 16px;
  font-size: 18px;
}

.information .card {
  max-width: 200px;
  text-align: center;
}

.information img {
  border-radius: 10px;
}
